<div class="post-header main-content-wrap {{ if $.Params.metaalignment }}text-{{ $.Params.metaalignment }}{{ else }}text-left{{ end }}">
  {{ with $.Params.link }}
    <h1 itemprop="headline"> 
      <a class="link" href="{{ . | absURL }}" target="_blank" rel="noopener" aria-label="{{ i18n "global.open_link"}}: {{ . | absURL }}">
        {{ $.Title }}
      </a>
    </h1>
  {{ else }}
    <h1 class="post-title mystyle">
      {{ $.Title }}
    </h1>
  {{ end }}
  {{ partial "post/meta.html" . }}
</div>

<style>

  h1.mystyle {
    color: #fff;
    background-color: #333;
    letter-spacing: 0.8rem;
    text-align: center;
    padding:6vh 0;
    margin-bottom: 10px!important;

  }
</style>